{% extends parentTemplate %}
{% block title 'sidebar.loan_rules'|trans({},'loan') %}

{% block content %}
    <div class="panel panel-inverse">
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-hover table-email m-b-0">
                    <thead>
                        <tr>
                            <th width="50">{{ knp_pagination_sortable(laonRules, 'view.loan_rule.all.table.field.id'|trans|upper, 'lr.id') }}</th>
                            <th width="105">{{ knp_pagination_sortable(laonRules, 'view.loan_rule.all.table.field.service_fee'|trans|upper, 'lr.serviceFee') }}</th>
                            <th>{{ knp_pagination_sortable(laonRules, 'view.loan_rule.all.table.field.total_sum'|trans|upper, 'lr.totalSum') }}</th>
                            <th width="100">{{ knp_pagination_sortable(laonRules, 'view.loan_rule.all.table.field.duration'|trans|upper, 'lr.duration') }}</th>
                            <th>{{ knp_pagination_sortable(laonRules, 'view.loan_rule.all.table.field.debd_amount'|trans|upper, 'lr.debdAmount') }}</th>
                            <th width="50">{{ knp_pagination_sortable(laonRules, 'view.loan_rule.all.table.field.fee'|trans|upper, 'lr.fee') }}</th>
                        </tr>
                    </thead>
                    <tbody>
    {% for item in laonRules %}
                        <tr>
                            <td align="left">{{ item.id }}</td>
                            <td align="middle">{{ item.serviceFee }}</td>
                            <td align="right">{{ item.totalSum|number_format(2, ',', ' ') }}</td>
                            <td align="middle">{{ item.duration }}</td>
                            <td align="right">{{ item.debdAmount|number_format(0, ',', ' ') }}</td>
                            <td align="middle">{{ item.fee }}</td>
                        </tr>
    {% endfor %}
                    </tbody>
                </table>
                {{ knp_pagination_render(laonRules, 'AlpeinsoftLoanBundle::_pagination.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function() {
            App.init();
        });
    </script>
{% endblock %}
