{% if pageCount > 1 %}
<div class="email-footer clearfix">
    {{ totalCount }} rows
    <ul class="pagination pagination-sm m-t-0 m-b-0 pull-right">
        {% if current == 1 %}
            <li class="disabled"><a href="javascript:;"><i class="fa fa-angle-double-left"></i></a></li>
        {% else %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): 1})) }}"><i class="fa fa-angle-double-left"></i></a></li>
        {% endif %}
        {% if previous is defined %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-angle-left"></i></a></li>
        {% else %}
            <li class="disabled"><a href="javascript:;"><i class="fa fa-angle-left"></i></a></li>
        {% endif %}
        {% if next is defined %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-angle-right"></i></a></li>
        {% else %}
            <li><a href="javascript:;"><i class="fa fa-angle-right"></i></a></li>
        {% endif %}
        {% if current < endPage %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): endPage})) }}"><i class="fa fa-angle-double-right"></i></a></li>
        {% else %}
            <li class="disabled"><a href="javascript:;"><i class="fa fa-angle-double-right"></i></a></li>
        {% endif %}
    </ul>
</div>
{% endif %}
